<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InventorWrapper" version="1.0.1" targetFramework="net472" />
  <package id="SolidworksWrapper" version="1.0.0" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Edit.Windows" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="19.1.0.54" targetFramework="net472" />
</packages>